body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* scroll bar personalizado */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(61, 61, 61) gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: gray;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 30px;
  border: 3px solid orange;
}

.up-head-bar {
  content: "";
  height: 50px;
  min-height: 25px;
  max-height: 80px;
  align-items: center;
  background-color: #000;
}

.inv-head-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px;
}

.btn-back-head {
  content: "";
  width: 50px;
  height: 50px;
}

.exp-content {
  content: "";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 60px;
  background-color: green;
}

.main-content {
  content: "";
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 26px;
  margin-right: 26px;
  /* align-items: center; */
  /* width: 100%; */
  /* height: 100%; */
}

.weapon-full-info {
  content: "";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  height: 300px;
  /* align-items: center; */
}

.weapon-info {
  content: "";
  width: 38%;
  background-color: red;
}

.image-weapons {
  content: "";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  width: 70%;
  /* height: 50%; */
  margin: -10px;
}

.main-weapon {
  content: "";
  width: 65%;
  margin: 10px;
  background-color: blue;
}

.weapon-list {
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  /* background-color: purple; */
  overflow-y: scroll;
  /* height: 33%; */
}

.image-list-item {
  content: "";
  display: flex;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: purple;
}

.first-block-button {
  content: "";
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.inf-buttons {
  content: "";
  display: flex;
  /* width: 100%; */
  /* flex-direction: row; */
  justify-content: space-between;
  background-color: grey;
  margin-top: 30px;
}

.btnInf-left {
  content: "";

  width: 12rem;
  margin-right: 5rem;
  /* margin-bottom: 25px;
  margin-top: 25px; */
  background-color: yellow;
}

.btnInf-right {
  content: "";
  width: 12rem;
  height: 3rem;
  margin-left: 5rem;
  /* margin-bottom: 25px;
  margin-top: 25px; */
  background-color: yellow;
}
