body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 0;
  color: #ffecb2;
  min-width: 891px;
}

/* scroll bar personalizado */
/* para o Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(61, 61, 61) #ffffff15;
}

/* para o Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: gray;
}

*::-webkit-scrollbar-button {
  display: none; /* Oculta as setas */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  border-radius: 30px;
  border: 3px solid gray;
}

.up-head-bar {
  content: "";
  height: 50px;
  min-height: 25px;
  max-height: 80px;
  align-items: center;
  background-color: #3d2e1b;
}

.inv-head-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px;
}

.btn-back-head {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #342c1e;
  border: 1px solid #b9974c;
  /* opacity: 0.8; */
  /* transition: 1s; */
}

.btn-back-head:hover {
  content: "";
  background-color: #50432e;
  cursor: pointer;
}

.icon-back {
  content: "";
  width: 20px;
}

.exp-icon {
  content: "";
  width: 50px;
  padding-right: 10px;
}

.exp-content {
  content: "";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  /* width: 60px; */
  border: 1px solid #b9974c;
  background-color: #2e281d;
  /* opacity: 0.8; */
}

.exp-number-text {
  content: "";
  font-family: "Quantico", sans-serif;
  font-size: 20px;
}

.main-content {
  content: "";
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 26px;
  margin-right: 26px;
  /* align-items: center; */
  /* width: 100%; */
  /* height: 100%; */
}

.weapon-full-info {
  content: "";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  height: 300px;
  min-width: 790px;
  /* align-items: center; */
}

.weapon-info {
  content: "";
  width: 38%;
  /* background-color: red; */
}

.weapon-info-header-container {
  content: "";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
  font-family: "Quantico", sans-serif;
  min-width: 323px;
}

.weapon-info-header {
  content: "";
  /* background-color: red; */
}

.weapon-info-header-box {
  content: "";
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  height: 20px;
  padding: 3px;
  border: 1px solid #96864f;
  border-left: 4px solid #d2c193;
}

#h-white-text {
  content: "";
  color: white;
  margin-right: 10px;
}

.weapon-info-description {
  content: "";
  text-align: justify;
  font-family: "Raleway", sans-serif;
}

.image-weapons {
  content: "";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  width: 70%;
  /* height: 50%; */
  margin: -10px;
}

.main-weapon {
  content: "";
  width: 65%;
  margin: 10px;
  background-color: blue;
}

.weapon-list {
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  /* background-color: purple; */
  overflow-y: scroll;
  /* height: 33%; */
}

.image-list-item {
  content: "";
  display: flex;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: purple;
}

.first-block-button {
  content: "";
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.inf-buttons {
  content: "";
  display: flex;
  /* width: 100%; */
  /* flex-direction: row; */
  justify-content: space-between;
  /* background-color: grey; */
  margin-top: 30px;
  margin-right: 30px;
}

.btnInf-left {
  content: "";

  width: 12rem;
  margin-right: 5rem;
  /* margin-bottom: 25px;
  margin-top: 25px; */
  background-color: #090806;
  border: 1px solid #d2c193;
}

.btnInf-right {
  content: "";
  width: 12rem;
  height: 3rem;
  margin-left: 5rem;
  /* margin-bottom: 25px;
  margin-top: 25px; */
  background-color: #090806;
  border: 1px solid #d2c193;
}
